@model FoodDonation.Models.ContactUs
@{
    ViewData["Title"] = "Contact";
}
<section class="container">
    <h1 class="text-center">Contact <small>Us</small></h1>

    <hr />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
                @if (ViewBag.Message == null)
                {
                    <div>
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name"
                                      class="text-muted"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email"
                                      class="text-muted"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Subject">Subject</label>
                                <input asp-for="Subject" class="form-control" />
                                <span asp-validation-for="Subject"
                                      class="text-muted"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Message">Message</label>
                                <textarea rows="5" cols="15"
                                          asp-for="Message" class="form-control"></textarea>
                                <span asp-validation-for="Message"
                                      class="text-muted"></span>
                            </div>
                            <div>
                                <button type="submit"
                                        class="btn btn-success btn-block">
                                    Send
                                </button>
                            </div>

                        </form>
                    </div>
                }
            </div>

                <div class="text-center">
                    @if (ViewBag.Message != null)
                    {
                        <div>@ViewBag.Message</div>

                    }
                </div>
        </div>

    </div>
</section>